.caniuse
{
	background: #F5F5F5;
	background-image: linear-gradient(bottom, #E0E0E0 0%, #F5F5F5 100%);
	background-image: -o-linear-gradient(bottom, #E0E0E0 0%, #F5F5F5 100%);
	background-image: -moz-linear-gradient(bottom, #E0E0E0 0%, #F5F5F5 100%);
	background-image: -webkit-linear-gradient(bottom, #E0E0E0 0%, #F5F5F5 100%);
	background-image: -ms-linear-gradient(bottom, #E0E0E0 0%, #F5F5F5 100%);
	border-radius: 5px;
	box-shadow: inset 0 1px 0 #FFF;
	   -moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
    border: solid 1px #CBCBCB;
	color: #656565;
	cursor: default;
	display: inline-block;
	*display: inline;
	font: 11px/1.3 sans-serif;
	text-shadow: 1px 1px 3px #FFF;
	padding: 10px;
	position: relative;
	width: 300px;
	*zoom: 1;
}

.caniuse-ico,
.caniuse-agt-ico
{
	background: url(http://sandbox.thewikies.com/caniuse/i/icons-32.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 32px;
	width: 32px;
}

.caniuse a
{
	color: #66F;
}

.caniuse h6
{
	display: block;
	font-size: 10px;
	font-weight: normal;
	margin: 2px 0 0;
}

.caniuse p
{
	margin: 0;
}

.caniuse:hover
{
	background: #F1F1F1;
}

.caniuse-ico
{
	margin: 0 6px 0 0;
}

.caniuse-ico-chrome 
{
	background-position: -32px 0;
}

.caniuse-ico-firefox
{
	background-position: -64px 0;
}

.caniuse-ico-opera  
{
	background-position: -96px 0;
}

.caniuse-ico-safari 
{
	background-position: -128px 0;
}

.caniuse-ico-ie     
{
	background-position: -160px 0;
}

.caniuse-nfo
{
	background: #FCFCFC;
	border-radius: 0 0 5px 5px;
	border: none;
	box-shadow: none;
	display: block;
	height:0;
	left: 3%;
	opacity: 0;
	overflow:hidden;
	padding: 0 3%;
	position: absolute;
	-webkit-transition: opacity 200ms linear;
	   -moz-transition: opacity 200ms linear;
	    -ms-transition: opacity 200ms linear;
	     -o-transition: opacity 200ms linear;
	        transition: opacity 200ms linear;
	top: 100%;
	width: 87%;
	z-index:9999;
}

.caniuse:hover .caniuse-nfo
{
	border: 1px solid #CBCBCB;
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.1);
	height:auto;
	opacity: 1;
	overflow:auto;
	padding: 3%;
}

.caniuse-nfo a
{
	color: #666;
	text-decoration: none;
}

.caniuse-agt
{
	border-radius: 5px;
	cursor: pointer;
	display: block;
	height: 32px;
	margin: 0 0 5px;
	padding: 5px;
	overflow: hidden;
}

.caniuse-agt:hover
{
	background: #F6F6F6;
}

.caniuse-agt-ico,
.caniuse-agt-ttl,
.caniuse-agt-txt
{
	display: block;
	float: left;
	line-height: 32px;
}

.caniuse-agt-ico
{
	margin: 0 4px 0 0;
}

.caniuse-agt-txt
{
	color: #896;
	display: none;
	float: right;
	font-size: 10px;
	line-height: 32px;
}

.caniuse-agt:hover .caniuse-agt-txt
{
	display: block;
}

.caniuse-features
{
	background: #F6F6F6;
	border-radius: 5px;
	padding: 8px;
}

.caniuse-features b
{
    display:block;
    font-size: 11px;
	margin: 0 0 4px;
}

.caniuse-features a:hover
{
	text-decoration: underline;
}