.caniuse-agt
{
	margin: 0 0.5em;
}

.caniuse-agt-ico
{
	background: url(http://sandbox.thewikies.com/caniuse/i/icons-32.png);
	display: inline-block;
	*display: inline;
	height: 32px;
	width: 32px;
	*zoom: 1;
}

.caniuse-ico-chrome 
{
	background-position: -32px 0;
}

.caniuse-ico-firefox
{
	background-position: -64px 0;
}

.caniuse-ico-opera  
{
	background-position: -96px 0;
}

.caniuse-ico-safari 
{
	background-position: -128px 0;
}

.caniuse-ico-ie     
{
	background-position: -160px 0;
}