/* normalize.css 2011-07-06T20:20 UTC //github.com/jonathantneal/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  cursor: default;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body, form, input, button, select, textarea {
  font-size: 100%;
  margin: 0; }

a, a:active, a:hover {
  outline: none; }

a:focus {
  outline: thin dotted; }

abbr {
  _border-bottom: expression(this.title ? '1px dotted':'none'); }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #FF0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace,monospace;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small, sub, sup {
  font-size: 75%; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul {
  list-style: none; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline; }

audio {
  display: none;
  _display: expression(this.controls ? 'inline':'none');
  *zoom: 1; }

audio[controls] {
  display: inline-block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

legend {
  *margin-left: -7px; }

button, input, select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  _overflow: expression(this.type == 'button|reset|submit' ? 'visible':''); }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  overflow: visible; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix, .api-example, footer .builders {
  *zoom: 1; }
  .clearfix:before, .api-example:before, footer .builders:before, .clearfix:after, .api-example:after, footer .builders:after {
    content: "";
    display: table; }
  .clearfix:after, .api-example:after, footer .builders:after {
    clear: both; }

.droid, html, .logo i, #get-api {
  font-family: 'Droid Serif', serif;
  font-style: italic; }

.alfa, .fancy-heading-star, h2, #toc a, #get-api h3, .api-example h3, footer .builders h3, .logo b, .formats label {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  text-transform: uppercase;
  font-style: normal; }

.banner-font-size, .logo b {
  font-size: 48px;
  font-size: 3rem; }

.major-heading-font-size, h2 {
  font-size: 32px;
  font-size: 2rem; }

.minor-heading-font-size, h3, .logo i {
  font-size: 24px;
  font-size: 1.5rem; }

.normal-font-size, #features, footer .builders h3 {
  font-size: 16px;
  font-size: 1rem; }

.align-center, h1, #about, #toc, #in-action, #in-action h3, #get-api h3, .formats, .js-help-json {
  text-align: center; }

.input-text, input[type="text"] {
  border: 1px dashed #000;
  border-color: #5c5a72;
  box-shadow: inset 0 0 5px #02010f;
  background: rgba(6, 2, 49, 0.1);
  color: #dabed1;
  font-size: small;
  padding: 0.25em 0.5em; }
  .input-text:focus, input[type="text"]:focus {
    background: rgba(5, 2, 39, 0.5);
    outline: none; }

.fancy-heading-star, h2, #toc a, #get-api h3, .api-example h3, footer .builders h3 {
  color: #96982a;
  letter-spacing: 3px;
  text-shadow: black 2px 2px 1px, #3c1816 3px 3px 1px; }
  .fancy-heading-star::before, h2::before, #toc a::before, #get-api h3::before, .api-example h3::before, footer .builders h3::before, .fancy-heading-star::after, h2::after, #toc a::after, #get-api h3::after, .api-example h3::after, footer .builders h3::after {
    content: "✶";
    padding: 0 0.25em;
    color: #5c5a72;
    font-size: 16px;
    font-size: 1rem;
    text-shadow: black 2px 2px 1px, #3c1816 3px 3px 1px;
    vertical-align: middle; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: #060231;
  background: -webkit-linear-gradient(left, rgba(6, 2, 49, 0.2), rgba(6, 2, 49, 0.2)), url("../classy_fabric.png");
  background: -moz-linear-gradient(left, rgba(6, 2, 49, 0.2), rgba(6, 2, 49, 0.2)), url("../classy_fabric.png");
  background: -ms-linear-gradient(left, rgba(6, 2, 49, 0.2), rgba(6, 2, 49, 0.2)), url("../classy_fabric.png");
  background: -o-linear-gradient(left, rgba(6, 2, 49, 0.2), rgba(6, 2, 49, 0.2)), url("../classy_fabric.png");
  color: #dabed1;
  text-shadow: black 2px 2px 1px; }

body {
  margin: 0 auto;
  min-width: 10em;
  max-width: 60em;
  padding: 0 2em; }

section {
  padding: 3em 0 0 0; }

article {
  margin: 2em 0; }

h1 {
  margin: 2em 0 1em 0; }

h2 {
  text-shadow: black 2px 2px 1px, #96982a 3px 3px 1px;
  color: #dabed1;
  text-align: center;
  margin-bottom: 0; }

h3 {
  margin: 0; }

p {
  line-height: 1.5; }
  p:last-child {
    margin-bottom: 0; }

em {
  font-size: 75%; }

var {
  background: #060231;
  border: 1px solid #000;
  color: #fff;
  padding: 0.125em 0.25em; }

code {
  font-family: monospace, monospace;
  color: #96982a; }

a {
  color: #a94c54;
  text-decoration: none; }

#about {
  font-size: 16px;
  font-size: 1rem;
  max-width: 640px;
  max-width: 40rem;
  overflow: hidden;
  margin: 0 auto;
  padding: 3em 0 0 0; }

.logo b {
  letter-spacing: 4px;
  text-shadow: black 2px 2px 1px, #b5abed 3px 3px 1px;
  color: #a55f8f; }
  .logo b::before, .logo b::after {
    content: "❧";
    text-shadow: 1px 1px 1px #000;
    padding-left: 0.15em; }
  .logo b::before {
    content: "☙"; }
.logo i {
  text-shadow: #060231 2px 2px 1px;
  display: block;
  text-transform: lowercase;
  letter-spacing: 0;
  color: #dabed1; }
.logo .more-info {
  font-size: 12.8px;
  font-size: 0.8rem;
  vertical-align: middle; }
  .logo .more-info::after {
    content: " \00BB"; }

#toc {
  width: 100%;
  background: #060231;
  background: -webkit-linear-gradient(left, rgba(6, 2, 49, 0.2), rgba(6, 2, 49, 0.2)), url("../classy_fabric.png");
  background: -moz-linear-gradient(left, rgba(6, 2, 49, 0.2), rgba(6, 2, 49, 0.2)), url("../classy_fabric.png");
  background: -ms-linear-gradient(left, rgba(6, 2, 49, 0.2), rgba(6, 2, 49, 0.2)), url("../classy_fabric.png");
  background: -o-linear-gradient(left, rgba(6, 2, 49, 0.2), rgba(6, 2, 49, 0.2)), url("../classy_fabric.png"); }
  #toc a {
    text-shadow: #060231 2px 2px 1px;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    padding: 1em 0;
    display: inline-block; }
    #toc a:after {
      padding-left: 0.8em; }
    #toc a + a:before {
      content: ""; }
    #toc a.active {
      color: #dabed1; }
  #toc.sticky {
    background: black;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../classy_fabric.png");
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../classy_fabric.png");
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../classy_fabric.png");
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../classy_fabric.png");
    position: fixed;
    left: 0;
    z-index: 2;
    margin: 0;
    border-bottom: 1px solid #060231;
    box-shadow: 0 1px 4px #5c5a72;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }

#in-action {
  white-space: nowrap; }
  #in-action figure {
    width: 50%;
    display: inline-block;
    white-space: normal;
    margin: 1em 0.5em 0 0.5em;
    padding: 0; }
    #in-action figure img {
      display: block;
      padding: 0.2em;
      background: #060231;
      border: 1px dashed #5c5a72;
      margin: 0 auto;
      max-width: 100%; }
    #in-action figure figcaption {
      display: block;
      padding: 0.2em 0;
      font-size: 12.8px;
      font-size: 0.8rem; }
  #in-action h3 {
    margin-top: 32px;
    margin-top: 2rem; }

#features {
  display: block;
  width: 100%;
  padding: 1rem; }

label[for='features'] {
  display: block; }

.formats {
  margin: 2em 0 1em 0;
  border-top: 1px solid #5c5a72;
  padding-top: 4px; }
  .formats::before {
    content: "";
    display: block;
    border-top: 1px dashed #5c5a72;
    margin-bottom: 1em; }
  .formats::after {
    margin: 1em 0 0 0; }
  .formats h4 {
    display: inline-block;
    vertical-align: middle;
    margin: 0; }
  .formats p {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 1em; }
  .formats .help {
    display: block; }
  .formats label {
    background: rgba(6, 2, 49, 0.2);
    color: #5c5a72;
    letter-spacing: 3px;
    padding: 0.1em 1em 0;
    box-shadow: 2px 2px 0px 1px #000; }
  .formats input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%; }
  .formats input[type="radio"]:checked + label {
    background: #a55f8f;
    color: #dabed1; }
  .formats input[type="radio"]:focus + label {
    background: #5c5a72; }

.help {
  font-size: small;
  text-align: center;
  display: block;
  color: #aba9bc;
  margin-top: 0.5em; }

.js-help-json {
  margin-bottom: 0.4em; }

input[type="radio"] {
  -webkit-appearance: radio; }

input[type="checkbox"] {
  -webkit-appearance: checkbox; }

input[type="checkbox"] {
  margin-right: 0.25em; }

.options {
  min-height: 176px;
  min-height: 11rem;
  text-align: center;
  border-bottom: 1px solid #5c5a72;
  padding-bottom: 4px;
  margin-bottom: 1.5em;
  position: relative; }
  .options::after {
    border-top: 1px dashed #5c5a72;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    display: block;
    content: ""; }
  .options .options-content {
    display: inline-block;
    text-align: left;
    color: #5c5a72; }
  .options p {
    margin: 0;
    position: relative; }
  .options input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0; }
  .options #callback {
    width: 1em; }
  .options label,
  .options .label {
    padding: 0.5em;
    display: block; }
  .options label::before,
  .options .label::before {
    content: "+";
    text-shadow: none;
    display: inline-block;
    font-weight: bold;
    background: rgba(6, 2, 49, 0.1);
    border-radius: 2px;
    line-height: 1em;
    text-align: center;
    color: #000;
    width: 1em;
    height: 1em;
    box-shadow: inset 0 0 5px #000;
    margin-right: 0.5em; }
  .options input[type="checkbox"]:checked + label,
  .options input[type="checkbox"]:checked + .label {
    color: #a55f8f; }
    .options input[type="checkbox"]:checked + label::before,
    .options input[type="checkbox"]:checked + .label::before {
      background: #a55f8f; }
  .options input[type="checkbox"]:focus + label,
  .options input[type="checkbox"]:focus + .label {
    background: black; }
    .options input[type="checkbox"]:focus + label::before,
    .options input[type="checkbox"]:focus + .label::before {
      background: rgba(218, 190, 209, 0.4);
      color: #dabed1; }

.options-content p,
.options h3 {
  display: none; }

.options-content p.active,
.options h3.active {
  display: block; }

.api-example h3 {
  text-align: center;
  margin-bottom: 1rem; }

#url {
  min-height: 51.2px;
  min-height: 3.2rem;
  display: block;
  width: 100%;
  background: #84853d;
  outline: 1px dashed #96982a;
  outline-offset: 4px;
  color: #060231;
  text-shadow: none;
  font-style: normal;
  font-family: monospace;
  padding: 1em;
  word-wrap: break-word; }
  #url:hover {
    background: #a55f8f;
    outline: 1px dashed #a55f8f; }

footer {
  font-size: 12.8px;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 4rem; }
  footer .builders {
    margin: 1em 0 0 0; }
    footer .builders h3, footer .builders > a {
      display: inline-block;
      vertical-align: middle;
      text-align: left; }
    footer .builders h3 {
      vertical-align: 0.5rem; }
    footer .builders > a {
      width: 9em;
      margin-bottom: 1em; }
      footer .builders > a img {
        float: left;
        margin-right: 0.5em; }
      footer .builders > a b {
        display: block;
        font-weight: normal;
        margin-top: 0.5rem; }
  footer p {
    margin-top: 0; }
    footer p:last-child {
      margin-top: 3em; }

@media (max-width: 480px) {
  html {
    font-size: 12px; }

  body {
    padding: 0 1em; }

  section {
    padding-top: 2em; }

  h2 {
    font-size: 24px;
    font-size: 1.5rem; }

  .logo {
    margin-top: 1.5em;
    line-height: 1.1; }
    .logo b {
      font-size: 40px;
      font-size: 2.5rem; }
      .logo b::before, .logo b::after {
        content: '';
        padding-left: 0.15em; }
    .logo i {
      font-size: 19.2px;
      font-size: 1.2rem; }

  #toc.sticky {
    position: static; }
  #toc a {
    padding: .3em 0; }
    #toc a + a:before {
      content: "✶"; }
    #toc a:before {
      padding-right: .8em; }

  #nav_container {
    height: auto !important; }

  #about {
    padding-top: 1em; }

  #in-action h3 {
    font-size: 19.2px;
    font-size: 1.2rem;
    margin-top: 16px;
    margin-top: 1rem; }
  #in-action figure {
    margin: 0;
    padding: 1em .5em;
    vertical-align: top; }

  #features,
  #callbackvalue {
    font-size: 16px; }

  footer .builders h3 {
    display: block;
    text-align: center;
    margin-bottom: .5em; }
  footer .builders:first-child a {
    font-size: 19.2px;
    font-size: 1.2rem;
    text-align: center; }
    footer .builders:first-child a b {
      display: inline; }
  footer .builders > a {
    width: auto; }
    footer .builders > a img {
      margin-bottom: .5em; } }
/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-clearfix {
  zoom: 1; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important; }

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=2px&bgColorHeader=dddddd&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=50&borderColorHeader=dddddd&fcHeader=444444&iconColorHeader=0073ea&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=dddddd&fcContent=444444&iconColorContent=ff0084&bgColorDefault=f6f6f6&bgTextureDefault=03_highlight_soft.png&bgImgOpacityDefault=100&borderColorDefault=dddddd&fcDefault=0073ea&iconColorDefault=666666&bgColorHover=0073ea&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=25&borderColorHover=0073ea&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=dddddd&fcActive=ff0084&iconColorActive=454545&bgColorHighlight=ffffff&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=cccccc&fcHighlight=444444&iconColorHighlight=0073ea&bgColorError=ffffff&bgTextureError=01_flat.png&bgImgOpacityError=55&borderColorError=ff0084&fcError=222222&iconColorError=ff0084&bgColorOverlay=eeeeee&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
 */
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  text-shadow: none;
  font-style: normal; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em; }

.ui-widget-content {
  border-radius: 0 0 0.5em 0.5em;
  background: #060231;
  color: #ABA9BC; }

.ui-widget-content a {
  background: #2A283E;
  color: #ABA9BC; }

.ui-widget-header {
  border: 1px solid #ddd;
  background: #dddddd;
  color: #444;
  font-weight: bold; }

.ui-widget-header a {
  color: #444; }

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #f6f6f6;
  color: #96982A; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  background: #eee;
  color: #96982A;
  text-decoration: none; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #96982A;
  color: #fff; }

.ui-state-hover a, .ui-state-hover a:hover {
  color: #fff;
  text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #ffffff;
  color: #ff0084; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #ff0084;
  text-decoration: none; }

.ui-widget :active {
  outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #ffffff;
  color: #444444; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #444444; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  background: #ffffff;
  color: #222222; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #222222; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #222222; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  background-image: none; }

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  background: #eeeeee;
  opacity: .80; }

.ui-widget-shadow {
  margin: -4px 0 0 -4px;
  padding: 4px;
  background: #aaaaaa;
  opacity: .60;
  border-radius: 0px; }

                                                                                                                /*
* jQuery UI Autocomplete 1.8.17
*
* Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Autocomplete#theming
*/
.ui-autocomplete {
  position: absolute;
  cursor: default; }

/* workarounds */
* html .ui-autocomplete {
  width: 1px; }

/* without this, the menu expands to 100% in IE6 */
/*
 * jQuery UI Menu 1.8.17
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
  list-style: none;
  padding: 0.5em;
  margin: 0;
  display: block;
  min-width: 10em;
  max-width: 51.7em; }

.ui-menu .ui-menu {
  margin-top: -3px; }

.ui-menu .ui-menu-item {
  margin: 0.2em 0;
  padding: 0;
  display: inline-block; }

.ui-menu .ui-menu-item a {
  text-decoration: none;
  padding: .2em 0.5em;
  margin: 0 0.3em;
  font-size: 0.8em;
  border-radius: 0.2em;
  line-height: 1.5; }

.ui-menu .ui-menu-item a::after,
.ui-menu .ui-menu-item a::before {
  content: " "; }
