@import "normalize.scss";
$bgcolor: hsl(245, 92%, 10%);
$bgcolorlesscontrast: adjust-color($bgcolor, $saturation: -80%, $lightness: 30%);
$textcolor:hsl(319, 28%, 80%);
$linkcolor: hsl(355, 38%, 48%);
$mostfocuscolor: hsl(319, 28%, 51%);
$minorfocuscolor: hsl(61, 57%, 38%);

@mixin transition($transitionValue) {
  $transitionValue: unquote($transitionValue);
  -webkit-transition: $transitionValue;
  -moz-transition: $transitionValue;
  -ms-transition: $transitionValue;
  -o-transition: $transitionValue;
}

@mixin textshadows($widths, $colors) {

  $count: length($colors);
  $total: 0;
  $output: '';
  $currentwidth: 1;
  $gap : 1;

  @each $width in $widths {
    $total: $total + $width;
  }

  @for $j from 1 through $count {
    $width: nth($widths, $j);
    @for $i from  $currentwidth to ($currentwidth + $width) {
      $color: nth($colors, $j);
      $output: $output + '#{$color} #{$i + $gap}px #{$i + $gap}px 1px';
      @if( $i < $total) {
        $output: $output + ', ';
      }
    }

    $currentwidth: $currentwidth + $width;
  }

  text-shadow: unquote($output);

}

@mixin colorize($image, $color, $opacity) {
  background: $color;
  $color: transparentize($color, 1 - $opacity);
  background: -webkit-linear-gradient(left, $color, $color), url($image); 
  background: -moz-linear-gradient(left, $color, $color), url($image); 
  background: -ms-linear-gradient(left, $color, $color), url($image); 
  background: -o-linear-gradient(left, $color, $color), url($image); 
}

@mixin remfallback($property, $value) {
  #{$property}: $value * 16px;
  #{$property}: #{$value}rem;
}

.clearfix {
  *zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

.droid {
  font-family: 'Droid Serif', serif;
  font-style: italic;
}

.alfa {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  text-transform: uppercase;
  font-style: normal;
}

.banner-font-size {
  @include remfallback('font-size', 3);
}

.major-heading-font-size {
  @include remfallback('font-size', 2);
}

.minor-heading-font-size {
  @include remfallback('font-size', 1.5);
}
.normal-font-size {
  @include remfallback('font-size', 1);
}

.align-center {
  text-align: center;
}

.input-text {
  border: 1px dashed #000;
  border-color: $bgcolorlesscontrast; 
  box-shadow: inset 0 0 5px adjust-color($bgcolor, $lightness: -7%); 
  background: transparentize($bgcolor, 0.9); 
  color: $textcolor; 
  font-size: small;
  padding: 0.25em 0.5em;

  &:focus {
    background: transparentize(darken($bgcolor, 2%), 0.5);
    outline: none;
  }
}

.fancy-heading-star {
  @extend .alfa;
  color: $minorfocuscolor;
  letter-spacing: 3px;
  @include textshadows(1 1, #000 hsl(3, 46%, 16%));

  &::before,
  &::after {
    content: "✶";
    padding: 0 0.25em;
    color: $bgcolorlesscontrast;
    @include remfallback('font-size', 1);
    @include textshadows(1 1, #000 hsl(3, 46%, 16%));
    vertical-align: middle;
  }
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { 
  @include colorize('../classy_fabric.png', $bgcolor, 0.2);
  color: $textcolor; 
  @extend .droid;
  @include textshadows(1, #000);
  
}

body { 
  margin: 0 auto; 
  min-width: 10em;
  max-width: 60em; 
  padding: 0 2em;
}

section { 
  padding: 2em 0 0 0;
  margin-top: 1em;
}

article {
  margin: 2em 0;
}

h1 {
  @extend .align-center;
  margin: 2em 0 1em 0;
}

h2 {
  @extend .major-heading-font-size;
  @extend .fancy-heading-star;
  @include textshadows(1 1, #000 $minorfocuscolor );
  color: $textcolor;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  @extend .minor-heading-font-size;
  margin: 0;
}

ul, ol { margin: 0; padding: 0; }

p, li { 
  line-height: 1.5; 
  margin: 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
}

em { font-size: 75%; }

var { 
  background: $bgcolor; 
  border: 1px solid #000; 
  color: #fff;
  padding: 0.125em 0.25em;
 }

code { font-family: monospace, monospace; color: $minorfocuscolor; }

a { color: $linkcolor; text-decoration: none; }

#about { 
  @extend .align-center;
  @include remfallback('font-size', 1);
  @include remfallback('max-width', 40);
  overflow: hidden;
  margin: 0 auto;
  padding: 3em 0 0 0;
} 

.logo { 
  b {
    @extend .alfa;
    @extend .banner-font-size;
    letter-spacing: 4px;
    @include textshadows(1 1, #000 hsl(249, 64%, 80%));
    color: $mostfocuscolor; 

    &::before,
    &::after {
      content: "❧";
      text-shadow: 1px 1px 1px #000 ;
      padding-left: 0.15em;
    }

    &::before {
      content: "☙";
    }
  }

  i {
    @extend .droid;
    @extend .minor-heading-font-size;
    @include textshadows(1, $bgcolor);
    display: block;
    text-transform: lowercase;
    letter-spacing: 0;
    color: $textcolor;
  }

  .more-info {
    @include remfallback('font-size', 0.8);
    vertical-align: middle;

    &::after {
      content: " \00BB"
    }
  }
}

#toc {
  @extend .align-center;
  width: 100%;
  @include colorize('../classy_fabric.png', $bgcolor, 0.2);

  a {
    @extend .fancy-heading-star;
    @include textshadows(1, $bgcolor);
    @include transition('color 0.3s ease-in-out');
    padding: 1em 0;
    display: inline-block;

    &:not(:first-of-type):nth-of-type(odd)::before,
    &:nth-of-type(odd)::after {
      content: "";
      padding: 0;
    }

    &.active {
      color: $textcolor;

    }
  }

  &.sticky {
    @include colorize('../classy_fabric.png', darken($bgcolor, 10%), 0.2);
    position: fixed; 
    left: 0; 
    z-index: 2; 
    margin: 0; 
    border-bottom: 1px solid $bgcolor;
    box-shadow: 0 1px 4px $bgcolorlesscontrast;
    @include transition('all 0.3s ease-in-out');
  }
}


#in-action {
  white-space: nowrap;
  @extend .align-center;

  figure {
    width: 50%;
    display: inline-block;
    white-space: normal;
    margin: 1em 0.5em 0 0.5em; padding: 0;

    img {
      display: block;
      padding: 0.2em;
      background: $bgcolor;
      border: 1px dashed $bgcolorlesscontrast;
      margin: 0 auto;
      max-width: 100%;
    }

    figcaption {
      display: block;
      padding: 0.2em 0;
      @include remfallback('font-size', 0.8);
    }
  }

  h3 {
    @extend .align-center;
    @include remfallback('margin-top', 2);
  }
}

#get-api {
  @extend .droid;
  @extend .align-center;

  h3 {
    @extend .fancy-heading-star;
    @include remfallback('margin-top', 3);
    @include remfallback('margin-bottom', 0.5);
    color: $bgcolorlesscontrast;
  }
}

#features { 
  @extend .normal-font-size;
  display: block; 
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}


label[for='features'] { 
  @extend .align-center;
  margin-top: 1em;
  display: block;
}

.help {
  font-size: small;
  display: block;
  color: lighten($bgcolorlesscontrast, 30%);
  margin-top: 0.5em;
}

input[type="radio"] { -webkit-appearance: radio; }
input[type="checkbox"] { -webkit-appearance: checkbox; } 
input[type="checkbox"] { margin-right: 0.25em; }
input[type="text"] { @extend .input-text; }

.options {
  p { 
    margin: 0; 
  }


  b {
    font-weight: normal;
    position: relative;
    display: inline-block;
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    opacity: 0;
  }

  label {
    padding: 0.5em;
    display: block;
  }

  label::before{
    text-shadow: none;
    display: inline-block;
    font-weight: bold;
    background: transparentize($bgcolorlesscontrast, 0.3);
    border-radius: 2px;
    line-height: 1em;
    color: #000;
    width: 1em; height: 1em;
    box-shadow: inset 0 0 5px #000;
    margin-right: 0.5em;
  }

  input[type="checkbox"] + label::before {
    content: "+";
  }

  input[type="radio"] + label::before {
    content: "\00b7";
  }

  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label,
  input[type="radio"]:focus + label {
    color: $mostfocuscolor;
    &::before { background: $mostfocuscolor; }
  }

  input[type="checkbox"]:focus + label{
    background: darken($bgcolor, 10%);

    &::before {
      background: transparentize($textcolor, 0.6);
      color: $textcolor;
    }
  }
}

#api-result {
  display: none;
  &.active {
   display: block;
  }
}

#h5p-message {
  text-shadow: none;
}

#widget {
  @include remfallback('min-height', 3.2);
  display: block;
  width: 100%;
  background: desaturate($minorfocuscolor, 20%);
  outline: 1px dashed $minorfocuscolor;
  outline-offset: 4px;
  color: $bgcolor;
  text-shadow: none;
  font-style: normal;
  font-family: monospace;
  padding: 1em;
  word-wrap: break-word;
  text-align: left;
  min-height: 12em;

  a {
    color: $bgcolor;
    display: block;
    &:hover {
      color: darken($linkcolor, 20%); 
    }
  }
}


.use h4 {

  b {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 0.5em;
  }

  label {
    @extend .alfa;
    background: transparentize($bgcolor, 0.8);
    color: $bgcolorlesscontrast;
    box-shadow: 2px 2px 0px 1px #000;
    padding: 0.1em 1em 0;
    letter-spacing: 3px;
    display: inline-block;
    min-height: 2.5em;

    u {
      font-family: sans-serif;
      display: block;
      text-decoration: none;
      text-shadow: none;
      letter-spacing: 0;
      @include remfallback('font-size', 0.7);

    }
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%; height: 100%;
  }

  input[type="radio"]:checked + label,
  input[type="radio"]:focus + label {
    background:  $bgcolorlesscontrast;
    color: $textcolor;
  }
}

#how-does-it-work {
  @extend .align-center;

  h4 {
    margin-top: 2em;
    color: $minorfocuscolor;

    b {
      color: $mostfocuscolor;
      text-transform: uppercase;

      &::after {
        content: ": ";
      }
    }
  }

}

footer {
  @extend .align-center;
  @include remfallback('font-size', 0.8);
  margin-bottom: 4rem;

  .builders {
    margin: 1em 0 0 0;
    @extend .clearfix;

    h3, & > a {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }

    h3 {
      @extend .fancy-heading-star;
      @extend .normal-font-size;
      vertical-align: 0.5rem;
    }
    > a {
      width: 9em;
      margin-bottom: 1em;
      img {
        float: left;
        margin-right: 0.5em;
      }

      b {
        display: block;
        font-weight: normal;
        margin-top: 0.5rem;
      }
    }
  } 
  p {
    margin-top: 0;
    &:last-child {
      margin-top: 3em;
    }
  } 

}

@media (max-width: 480px) {

  html {
    font-size: 12px;
  }
  
  body {
    padding: 0 1em;
  }
  
  section {
    padding-top: 1em;
  }
  
  h2 {
    @include remfallback('font-size', 1.3);
  }
  
  h3 {
    @include remfallback('font-size', 1.2);
  }


  // Headline
  .logo {
    margin-top: 1.5em;
    line-height: 1.1;

    b {
      @include remfallback('font-size', 2.5);
      
      &::before,
      &::after {
        content: '';
        padding-left: 0.15em;
      }
    }
    
    i {
      @include remfallback('font-size', 1.2);
    }
  }
  
  
  
  // Naviagtion
  #toc {
    &.sticky {
      position: static;
    }

    a {
      padding: .3em 0;
      
      &:not(:first-of-type):nth-of-type(odd)::before,
      &:nth-of-type(odd)::after {
        content: "✶";
      }
    }
  }
  
  #nav_container {
    height: auto !important;
  }
  
  
  #about {
    padding-top: 1em;
  }
  
  
  
  #in-action {
    h3 {
      @include remfallback('font-size', 1.2);
      @include remfallback('margin-top', 1);
    }
    
    figure {
      margin: 0;
      padding: 1em .5em;
      vertical-align: top;
    }
  }

  
  #features{
    font-size: 16px;
  }
  
  
  #get-api {
    h3 {
      @include remfallback('font-size', 1);
    }
  }



  // Footer  
  footer {
    .builders {
      h3 {
        @extend .align-center;
        display: block;
        margin-bottom: .5em;
      }
      
      &:first-child {
        a {
          @include remfallback('font-size', 1.2);
          @extend .align-center;
          
          b {
            display: inline;
          }
        }
      } 
    
      > a {
        width: auto;
        margin-right: 1em;
        
        img {
          margin-bottom: .5em;
        }
      }
    }
  }

}


/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=2px&bgColorHeader=dddddd&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=50&borderColorHeader=dddddd&fcHeader=444444&iconColorHeader=0073ea&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=dddddd&fcContent=444444&iconColorContent=ff0084&bgColorDefault=f6f6f6&bgTextureDefault=03_highlight_soft.png&bgImgOpacityDefault=100&borderColorDefault=dddddd&fcDefault=0073ea&iconColorDefault=666666&bgColorHover=0073ea&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=25&borderColorHover=0073ea&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=dddddd&fcActive=ff0084&iconColorActive=454545&bgColorHighlight=ffffff&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=cccccc&fcHighlight=444444&iconColorHighlight=0073ea&bgColorError=ffffff&bgTextureError=01_flat.png&bgImgOpacityError=55&borderColorError=ff0084&fcError=222222&iconColorError=ff0084&bgColorOverlay=eeeeee&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Helvetica, Arial, sans-serif; font-size: 1.1em; text-shadow: none; font-style: normal; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Helvetica, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { 
  border-radius: 0 0 0.5em 0.5em;
  background: #060231; 
  color: #ABA9BC; 
 }
.ui-widget-content a { 
  background: #2A283E;
  color: #ABA9BC; 
}
.ui-widget-header { border: 1px solid #ddd; background: #dddddd; color: #444; font-weight: bold; }
.ui-widget-header a { color: #444; }

/* Interaction states
----------------------------------*/
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default { 
  background: #f6f6f6; 
  color: #96982A;
}

.ui-state-default a, 
.ui-state-default a:link, 
.ui-state-default a:visited { 
  background: #eee; 
  color: #96982A; 
  text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus { 
  background: #96982A; 
  color: #fff; 
}
.ui-state-hover a, .ui-state-hover a:hover { 
  color: #fff;
  text-decoration: none; 
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: #ffffff; color: #ff0084; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ff0084; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  { background: #ffffff; color: #444444; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #444444; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {background: #ffffff; color: #222222; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #222222; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #222222; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; background-image: none; }



/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { background: #eeeeee; opacity: .80; }
.ui-widget-shadow { margin: -4px 0 0 -4px; padding: 4px; background: #aaaaaa; opacity: .60; border-radius: 0px; }/*
 * jQuery UI Autocomplete 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.17
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
  padding: 0.5em;
	margin: 0;
	display:block;
  min-width: 10em;
  max-width: 51.7em;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0.2em 0;
	padding: 0;
  display: inline-block;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	padding:.2em 0.5em;
  margin: 0 0.3em;
  font-size: 0.8em;
  border-radius: 0.2em;
	line-height:1.5;
}
.ui-menu .ui-menu-item a::after,
.ui-menu .ui-menu-item a::before {
  content: " ";
}  
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
}


