<div class="caniuse">
	<div class="caniuse-msg">
		<% supported %>
		<h6>Congratulations!</h6>
		<p>Your browser supports all features this page requires.</p>
		<% /supported %>

		<% supported_with_upgrade %>
		<h6>This page is not fully supported.</h6>
		<p><a class="caniuse-url" href="<%= browserurl %>" rel="external" target="_blank">Please update to the latest version of your browser.</a></p>
		<% /supported_with_upgrade %>

		<% unsupported %>
		<h6>This page is not fully supported.</h6>
		<p>Please use one of the following browsers.</p>
		<% /unsupported %>
	</div>

	<% supported_with_upgrade %>
	<div class="caniuse-agts">
		<%= alternatives %>
	</div>
	<% /supported_with_upgrade %>

	<% unsupported %>
	<p class="caniuse-agts">
		<%= alternatives %>
	</p>
	<% /unsupported %>
</div>
